@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#200016,#10001f);
    height: 100vh;
    font-family: 'Quicksand', serif;
}


/* Navigation  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.9rem;
}

nav a {
    text-decoration: none;
    color: white;
}

nav .logo {
    font-size: 2.1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-right: 1.25rem;
    display: inline-block;
}

nav ul li a {
    padding: 6px 10px;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}

nav ul li a:hover {
    background-color: #fff;
    color: #200016;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: linear-gradient(#200016,#10001f);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,1,0.2);
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 6px;
}

/* Name Design */

header {
    height: 100vh;
}

header h1 {
    color: #fff;
    text-align: center;
}

#welkom {
    display: none;
    transition: 1s;
}

















/* Card Design */

.main{
    max-width: 1200px;
    margin: 0 auto;
}

.main h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.card img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
    width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
    width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: .7s;
}

.card:hover {
    transform: scale(1.2);
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
}
