@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

:root {
    --white: #ffffff;
    --dark-blue: #002333;
    --gray: #B4BEC9;
    --light-green: #159A9C;
    --sugar: #DEEFE7;
    --black: #000;
    --dark-gray: #989e9c;
}



*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--dark-blue), var(--light-green));
    font-family: 'Quicksand', serif;
    overflow-x: hidden;
}

.vh {
    min-height: 100vh;
}



/* Navigation  */

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.9rem auto;
    height: auto;
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom left, var(--dark-blue) 33%, var(--light-green) 100%);
    border-radius: 40px;
    width: fit-content;
    z-index: 1;
}

nav #mobile-menu {
    color: var(--sugar);
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav #mobile-menu:hover {
    color: var(--white);
}

nav .logo a {
    font-size: 3rem;
    letter-spacing: .3rem;
    margin-left: 1.4rem;
    color: var(--gray);
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px 0;

}

nav ul li {
    margin-right: 1.25rem;
    display: inline-block;
    padding: 5px;
}


nav ul li a {
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 20px;
    letter-spacing: 1px;
    color: var(--white);
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: box-shadow 2s ease-in-out;
}

nav ul li a:hover {
    background-color: var(--white);
    color: var(--black);
    box-shadow: inset 224px 0 0 0 var(--light-green);
}

.dropdown i {
    font-size: .8rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to left, var(--dark-blue), var(--light-green));
    min-width: 160px;
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content a {
    display: block;
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 6px;
}


@media screen and (max-width: 960px) {

    nav {
        justify-content: space-between;
        width: auto;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav ul li {
        padding-top: 20px;
    }

    .form-container form {
        display: flex;
        flex-direction: column;
    }

    footer .row {
        flex-direction: column;
        align-items: center;
    }

    footer .col {
        margin-top: 40px;
    }
}

@media screen and (max-width: 640px) {

    /* Navigation  */

    nav {
        width: auto;
    }

    nav ul.appear {
        display: none;
    }

    nav #mobile-menu {
        display: initial;
        margin: 2rem;
    }

    nav .nav-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: auto;
        position: absolute;
        top: 12vh;
        left: 0;
        right: 0;
        background-color: var(--dark-blue);
        padding: 10px 2px;
        z-index: 999;
        padding-bottom: 0px;
    }
    
    nav .nav-items li {
        width: 100%;
        border-bottom: 1px solid var(--light-green);
    }

    .dropdown-content {
        display: none;
        position: relative;
        left: 0;
        background: var(--dark-blue);
        /* width: 160px; */
        width: 100%;
        z-index: 1;
        border-radius: 20px;
    }

    .dropdown-content a {
        font-size: 1rem;
        margin: 0;
        transition: none;
    }

    .dropdown-content a:hover {
        box-shadow: none;
        background-color: var(--light-green);
        color: var(--black);
    }

    .dropdown:hover .dropdown-content {
        display: inline-block;
    }

    /* Header  */

    header {
        flex-direction: column;
    }

    header .name {
        align-items: center;
        margin-bottom: 2rem;
    }

    header .name h1, div {
        margin-bottom: 1rem;
    }

    header .foto {
        display: flex;
        justify-content: center;
    }
    
    
    /* Section Video */


    iframe {
        width: 853px;
        height: 480px;
        max-width: 100%;
        margin: 3px auto;
    }

    .videos-container .seven .video-1 {
        width: 600px;
        height: 350px;
        max-width: 100%;
        margin: 2px;
    }

    .videos-container .video div {
        display: block;
        padding: 1px;
        margin: auto 0;
    }

    .videos-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    .videos-container h1 {
        color: var(--white);
        margin: 10px auto;
    } 
    
    .videos-container h2 {
        text-align: center;
        padding: 1rem;
        color: var(--dark-gray);
    }

    .videos-container h2 i {
        display: none;
    }



    /* contact Form */

    .contact {
        flex-direction: column;
    }

    .form-container form {
        display: flex;
        flex-direction: column;
        margin-left: 9rem;
    }

    .info-container {
        margin-bottom: 3rem;
    }

    .info-container h2 {
        margin-top: 12px;
        text-align: center;
    }

    .info-container p, a {
        margin-left: 2rem;
    }

    /* Footer */

    footer .row {
        flex-direction: column;
        align-items: center;
    }

    footer .col {
        margin-top: 40px;
    }
}




/* Header Design */

header {
    min-height: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0rem 10rem;
}

header .name {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    animation: slideInFromLeft 3s ease-out 0s 1 ;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;    }
}

header h1 {
    color: var(--dark-gray);
    text-align: center;
    margin: 5px auto;
}

header .foto {
    animation: slideInFromRight 3s ease-out 0s 1 ;
    /* position: fixed; */
}

@keyframes slideInFromRight {
    0% {
        transform: translate(100%);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
    
}

header div .img-logo {
    height: 300px;
    width: 100%;
    background-image: url('photos-demo/ex.PNG');
    background-size: cover;
    background-position: center;
    margin: 10px auto;
}

header .keys-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

header .keys-container .keys-1, .keys-2 {
    margin: 5px auto;
}

header .keys-container .keys-1 .key{
    display: inline-block;
    padding: 9px;
    border-radius: 10px;
    margin: 10px ;
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    box-shadow: 10px 17px 15px  var(--dark-blue );
}   

header .keys-container .keys-2 .key {
    display: inline-block;
    padding: 7px;
    border-radius: 10px ;
    margin: 5px ;
    font-weight: 550;
    font-size: 2rem;
    color: var(--sugar);
    box-shadow: 5px 17px 15px #1a263b;
}

header .one:hover {
    transform: rotate(20deg) scale(1.2);
    background: linear-gradient(to right, var(--black), var(--dark-blue));
}

header .two:hover {
    transform: rotate(-20deg) scale(1.2);
    background: linear-gradient(to left, var(--black), var(--dark-blue));
}


/* Video */

.videos-container {
    display: flex;
    flex-direction: column;
}

iframe, .videos-container .video-1 {
    width: 853px;
    height: 480px;
}


.videos-container h1 {
    text-align: center;
    color: var(--white);
    letter-spacing: 1px;
    word-spacing: 9px;
    text-decoration: underline;
    text-underline-position: under;
}

.videos-container h1 i {
    color: var(--dark-blue);
}

.videos-container h2 {
    color: var(--sugar);
} 

.videos-container .right {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.videos-container .left {
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
}










/* Portfolio */










/* Card Design activiteiten */


.main {
    margin: 2rem;
}

.main h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--white);
    margin-bottom: 12px;
    text-decoration: underline;
    text-underline-position: under;
}

.card img {
    margin: 0;
    max-width: 100%;
    vertical-align: middle;
}

.card_image {
    margin: 0;
}

.btn {
    color: var(--white);
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem 2rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 40px 20px 40px -14px var(--gray);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: .7s;
}

.card:hover {
    transform: scale(1.1);
}

.card_content {
    padding: 1rem;
    margin: 0;
    background: linear-gradient(to bottom left, var(--dark-blue) 50%, #FFC39E 100%);
}

.card_title {
    text-align: center;
    color: var(--sugar);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: var(--sugar);
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}



/* SCHRIJF-IN */

.schrijf-in {
    min-height: 100vh;
}




/*  Contact  */

.contact {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;
}

.info-container h2 {
    color: var(--black);
    margin-bottom: 3.4rem;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-position: under;
}

.info-container p,
a {
    padding: 10px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.info-container a {
    display: block;
}


label {
    font-size: 1.2rem;
    font-weight: 600;
}

.form {
    display: inline-block;
    margin-right: .6rem;
    margin-bottom: .6rem;
}

.row div {
    margin-bottom: 16px;
}

input[type=text], textarea {
    padding: 12px;
    border: 2px solid var(--gray);
    border-radius: 4px;
    resize: vertical;
}


input[type=submit] {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--light-green);
    color: var(--black);
}

/* Footer */

footer {
    height: auto;
    color: var(--white);
    margin: 5rem 0 2rem 0;
}

footer .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .copyright {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
}

footer .quicklinks li {
    display: inline-block;
    padding: 1rem;
}

footer .social-buttons li {
    display: inline-block;
}

footer ul li i {
    font-size: 2rem;
    padding-right: 2px;
}

footer ul li i:hover,
.quicklinks a:hover {
    color: var(--gray);
}