@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

:root {
    --white: #ffffff;
    --dark-blue: #002333;
    --gray: #B4BEC9;
    --light-green: #159A9C;
    --sugar: #DEEFE7;
    --black: #000;
}



*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--dark-blue), var(--light-green));
    font-family: 'Quicksand', serif;
}

.vh {
    min-height: 100vh;
}



/* Navigation  */

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.9rem auto;
    height: auto;
}

nav #mobile-menu {
    color: var(--sugar);
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav #mobile-menu:hover {
    color: var(--white);
}

nav .logo a {
    font-size: 3rem;
    letter-spacing: .3rem;
    margin-left: 1.4rem;
    color: var(--gray);
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px 0;

}

nav ul li {
    margin-right: 1.25rem;
    display: inline-block;
    padding: 5px;
}


nav ul li a {
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 20px;
    letter-spacing: 1px;
    color: var(--white);
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: box-shadow 2s ease-in-out;
}

nav ul li a:hover {
    background-color: var(--white);
    color: var(--black);
    box-shadow: inset 200px 0 0 0 var(--light-green);
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to left, var(--dark-blue), var(--light-green));
    min-width: 160px;
    /* box-shadow: 0px 4px 8px 0px var(--gray); */
    z-index: 1;
    border-radius: 20px;
}

.dropdown-content a {
    display: block;
    color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin-top: 6px;
}





/* @media screen and (max-width: 1230px) {

    nav ul {
            display: flex;
            flex-wrap: wrap;
        overflow: hidden;
    }

    nav ul li {
        padding-top: 4px ;
    }
} */

@media screen and (max-width: 960px) {

    nav {
        justify-content: space-between;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav ul li {
        padding-top: 20px;
    }

    .form-container form {
        display: flex;
        flex-direction: column;
    }

    footer .row {
        flex-direction: column;
        align-items: center;
    }

    footer .col {
        margin-top: 40px;
    }
}

@media screen and (max-width: 640px) {

    /* Navigation  */

    nav ul.appear {
        display: none;
    }

    nav #mobile-menu {
        display: initial;
        margin: 2rem;
    }

    nav .nav-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: auto;
        position: absolute;
        top: 12vh;
        left: 0;
        right: 0;
        background-color: var(--dark-blue);
        padding: 10px 2px;
        z-index: 999;
        padding-bottom: 0px;
    }
    
    nav .nav-items li {
        width: 100%;
        border-bottom: 1px solid var(--light-green);
    }

    .dropdown-content {
        display: none;
        position: relative;
        left: 0;
        background: var(--dark-blue);
        /* width: 160px; */
        width: 100%;
        z-index: 1;
        border-radius: 20px;
    }

    .dropdown-content a {
        font-size: 1rem;
        margin: 0;
        transition: none;
    }

    .dropdown-content a:hover {
        box-shadow: none;
        background-color: var(--light-green);
        color: var(--black);
    }

    .dropdown:hover .dropdown-content {
        display: inline-block;
    }

    /* Header  */

    header {
        flex-direction: column;
    }

    header .name {
        align-items: center;
        margin-bottom: 2rem;
    }

    header .name h1, div {
        margin-bottom: 1rem;
    }

    header .foto {
        display: flex;
        justify-content: center;
    }

    /* contact Form */

    .contact {
        flex-direction: column;
    }

    .form-container form {
        display: flex;
        flex-direction: column;
        margin-left: 9rem;
    }

    .info-container {
        margin-bottom: 3rem;
    }

    .info-container h2 {
        margin-top: 12px;
        text-align: center;
    }

    .info-container p, a {
        margin-left: 2rem;
    }

    /* Footer */

    footer .row {
        flex-direction: column;
        align-items: center;
    }

    footer .col {
        margin-top: 40px;
    }
}








/* Header Design */

header {
    min-height: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0rem 10rem;
}

header div div {
    height: 300px;
    width: 70%;
    background-image: url('photos-demo/ex.PNG');
    background-size: cover;
    background-position: center;
}

header .name {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    animation: 5s ease-out 0s 1 slideInFromLeft;
}

/* @keyframes slideInFromLeft {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;    }
} */

header h1 {
    color: var(--white);
    text-align: center;
}



/* Card Design */

.main {
    /* max-width: 1400px; */
    margin: 2rem;
}

.main h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--white);
    margin-bottom: 12px;
    text-decoration: underline;
    text-underline-position: under;
}

.card img {
    height: auto;
    margin: 0;
    max-width: 100%;
    vertical-align: middle;
}

.card_image {
    margin: 0;
}

.btn {
    color: var(--white);
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem 2rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: .7s;
}

.card:hover {
    transform: scale(1.1);
}

.card_content {
    padding: 1rem;
    margin: 0;
    background: linear-gradient(to bottom left, var(--dark-blue) 50%, #FFC39E 100%);
}

.card_title {
    text-align: center;
    color: var(--sugar);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: var(--sugar);
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

/* Form Contact  */

.contact {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;
}

.info-container h2 {
    color: var(--black);
    margin-bottom: 3.4rem;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-position: under;
}

.info-container p,
a {
    padding: 10px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.info-container a {
    display: block;
}


label {
    font-size: 1.2rem;
    font-weight: 600;
}

.form {
    display: inline-block;
    margin-right: .6rem;
    margin-bottom: .6rem;
}

.row div {
    margin-bottom: 16px;
}

input[type=text], textarea {
    padding: 12px;
    border: 2px solid var(--gray);
    border-radius: 4px;
    resize: vertical;
}


input[type=submit] {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--light-green);
    color: var(--black);
}

/* Footer */

footer {
    height: auto;
    color: var(--white);
    margin: 5rem 0 2rem 0;
}

footer .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .copyright {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
}

footer .quicklinks li {
    display: inline-block;
    padding: 1rem;
}

footer .social-buttons li {
    display: inline-block;
}

footer ul li i {
    font-size: 2rem;
    padding-right: 2px;
}

footer ul li i:hover,
.quicklinks a:hover {
    color: var(--gray);
}